extends layout

block content
  .container
    .row
      .col-xs-12
        p Utilisez vos identifiend Ecampus
        form(name='login', method='POST')
          .form-group
            label.control-label(for='username') prenom.nom *
            input#username.form-control(name='username', type='text', required)

          .form-group
            label.control-label(for='password') Mot de passe *
            input#password.form-control(name='password', type='password', required)

          .form-group
            label.control-label(for='promo') Promo *
            select#promo.form-control(name='promo', required)
              option(value='')

              each years, town in settings.promo
                optgroup(label=town)

                each year in years
                  option(value=town + ' ' + year)= year

          .form-group
            label.control-label(for='status') Status *
            select#status.form-control(name='status', required)
              option(value='')
              each status in settings.statues
                option(value=status)

          .form-group
            label.control-label(for='specialite') Spécialité *
            select#specialite.form-control(name='specialite', required)
              option(value='')
              each key, specialite in settings.specialite
                option(value=specialite)

          .mtl
            button.btn.btn-success(type='submit') Se connecter
