doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/foundation.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content

        script(type='text/javascript' src='/javascripts/vendor/jquery.min.js')
        script(type='text/javascript' src='/javascripts/vendor/foundation.min.js')
