$black: #000
$white: #fff
$gray: #cacaca
$blue: #00b7ff

body,
html
  height: 100%

body
  background: $black url('../images/bg.jpg') center top no-repeat
  background-size: cover
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif

  h1
    font-size: 2.2em

  .row
    height: 100%

    .login-form
      display: table
      height: 100%
      position: relative

      form
        display: table-cell
        vertical-align: middle

        .column
          background-color: $white
          border: 1px solid $gray
          border-radius: 7px
          padding: .3rem 1rem

  a
    color: $blue
